* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbarstyle {
  background-color:white ;
  color: blue;
 

}
.cartbtn {
  position: absolute;
  right: 100px;
}

.productbox {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  margin-top: 2rem;
  border-radius: 10px;
}

.detailbox {
  margin-left: 12rem;
}